In [11]:
print("he2222llo")

he2222llo

In [12]:
def sum(a,b):
    return a+b
print(sum(12,33))

45

In [40]:
bicycle=['trek', 'redline', 'specialised']
print(bicycle)

['trek', 'redline', 'specialised']

In [46]:
#only get one element in the list. 
bicycle=['trek','trunk']
print(bicycle[-1])

trunk

In [4]:
message='hello'
print(message)

hello

In [43]:
#Page25 avoid the type error. Cause you have input a integer, so Python don't know how to unscramble the value, it knows this 
#variable may represent the number 23, or the digit 2 and 3. So you should use str.() to tell Python that you want to use the 
#the "23" as a string. 
age=23
message='happy '+str(age)+'rd Birthday'
print(message)

happy 23rd Birthday

In [8]:
3/2

1.5

In [9]:
print(3+5)

8

In [10]:
print(2*4)

8

In [11]:
print(17-9)

8

In [12]:
print(16/2)

8.0

In [13]:
print(4+4)
print(2*4)
print(32/4)
print(17-9)

8
8
8.0
8

#向大家问好
print("hello")

In [51]:
#you should'nt use space to name a file in Python. 
favorite_number=34
print(favorite_number)

34

In [53]:
#Please pay attention to whether there is a space after the bracket. 
bicycles=['trek','cannondale','redline','specialised']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialised']

In [47]:
#page32 select the element and capitalise the first letter. 
bicycles=['trek','cannondale','redline','specialised']
message='my bicyle is a '+bicycles[0].title()+'.'
print(message)

my bicyle is a Trek.

In [56]:
#add a element in the list. And you can't appoint the location. 
motorcycles=['honda','yamaha','suzuki'] 
print(motorcycles)

motorcycles.append('duucati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'duucati']

In [70]:
motorcycles=[] 
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'ducati']

In [58]:
#Use teh method called insert.(), you can appoint its location. And the number you input is where the element you add should be. 
motorcycles=['honda','yamaha','suzuki'] 
motorcycles.insert(0,'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [59]:
#Delete a element FOREVER. 
motorcycles=['honda','yamaha','suzuki'] 
del motorcycles[0]
print(motorcycles)
print(motorcycles)

['yamaha', 'suzuki']
['yamaha', 'suzuki']

In [60]:
#Delete one element and you can still use it. If you haven't appoint which one to pop, the last one will be deleted by default. 
motorcycles=['honda','yamaha','suzuki'] 
popped_motorcycles=motorcycles.pop()
print(motorcycles)
print(popped_motorcycles)

['honda', 'yamaha']
suzuki

In [77]:
#Appoint one's location to delete. 
motorcycles=['honda','yamaha','suzuki'] 
last_owned=motorcycles.pop(0)
print('The last motorcycle I owned was a '+last_owned.title()+'.')

The last motorcycle I owned was a Honda.

In [61]:
#delete a element by input its value. This fits for the time when you don't know where the element you want to delete is. 
motorcycles=['honda','yamaha','suzuki'] 
motorcycles.remove('honda')
print(motorcycles)

['yamaha', 'suzuki']

In [81]:
#Use"\nA" to skip a line.  

motorcycles=['honda','yamaha','suzuki'] 

too_expensive='honda'
motorcycles.remove(too_expensive)
print("\nA "+too_expensive.title()+" is too expensive for me.")
print(motorcycles)

A Honda is too expensive for me.
['yamaha', 'suzuki']

In [ ]:
names=['cy','somon','mia','emily']
print(names[1].title()+", Welcome to my birthday party.")
print(names[-1].title()+", Welcome to my birthday party.")
cannot_be_here=names.pop(0)
print(cannot_be_here.title()+" cannot be here because of her illness.")
names[0]='julia'
print(names[0].title()+", Welcome to my birthday party.")
print("I have found a lager desk.")

#OK, The last two lines were wrong, you need to correct the second line into "print(names)"
#names.insert(0,'tom')
#print(names.insert(0,'tom'))

['cy', 'Tom', 'somon', 'mia', 'emily']

In [16]:
#This grammar will let Python put out every element in the list. 
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title()+"That' a great magic show. ")
    print("I can't wait to see your next trick, "+magician.title()+".\n")
    
print("Thank you, everyone. That was a great magic show. ")

AliceThat' a great magic show.
I can't wait to see your next trick, Alice.

DavidThat' a great magic show.
I can't wait to see your next trick, David.

CarolinaThat' a great magic show.
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show.

In [7]:
magicians = ['alice', 'david', 'carolina']
print(magicians)

['alice', 'david', 'carolina']

In [73]:
cats=['a19', 'b23', 'c34']
for cat in cats:
    print(cat.title()+", you're my favorite cat. ")
    print("I can't wait to see you, "+cat.title()+".\n")
    
print('Cat is the most cute animal in the world. ')

A19, you're my favorite cat.
I can't wait to see you, A19.

B23, you're my favorite cat.
I can't wait to see you, B23.

C34, you're my favorite cat.
I can't wait to see you, C34.

In [20]:
#Print a range of number in order. 
for value in range(1,5):
    print(value)

1
2
3
4

In [74]:
#Turn a string of number into list. 
numbers=list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [23]:
#Select all even number in certain range. 
even_numbers=list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [25]:
#Create a empty list and append elements in it. Make all the numbers in this range square. 
squares=[]
for value in range(1,11):
    square=value**2
    squares.append(square)
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
#You can square the number directly. 
squares=[]
for value in range(1,11):
    squares.append(value**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

digits=[1,2,3,4,5,6,7,8,0]
min(digits)

In [75]:
#More directly. 
squares=[value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [76]:
#Using Terminal to add the consecutive number directly. 
numbers=list(range(1,10001))
sum(numbers)

50005000

In [37]:
odd_numbers=list(range(1,21,2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]